cmd/scangroup/scangroup
cmd/organization/organization
cmd/services/services
cmd/user/user
cmd/amcli/amcli
cmd/coordinator/coordinator
cmd/dispatcher/dispatcher
cmd/module/ns/ns
cmd/amload/amload
cmd/pipeline/pipeline
cmd/webdata/webdata
cmd/module/brute/brute
cmd/module/web/web
services/module/web/testdata/*
deploy_files/webmodule.zip
deploy_files/webmoduleservice
.vscode/*
