cmd/scangroup/scangroup
cmd/organization/organization
cmd/services/services
cmd/user/user
cmd/amcli/amcli
cmd/coordinator/coordinator
cmd/dispatcher/dispatcher
cmd/module/ns/ns
cmd/amload/amload
.vscode/*
