cmd/scangroup/scangroup
cmd/organization/organization
cmd/services/services
cmd/user/user
cmd/amcli/amcli
cmd/coordinator/coordinator
cmd/dispatcher/dispatcher
cmd/module/ns/ns
cmd/amload/amload
cmd/pipeline/pipeline
cmd/webdata/webdata
cmd/module/brute/brute
cmd/module/web/web
cmd/event/event
services/module/web/testdata/*
deploy_files/webmodule/webmodule.zip
deploy_files/webmodule/webmoduleservice 
deploy_files/webmodule/gcdleaser
deploy_files/dev/portscanner/portscannerdev
deploy_files/dev/portscanner/portscannerdev.zip
deploy_files/dev/portscanservice/portscanservicedev
deploy_files/dev/portscanservice/dev.key
deploy_files/dev/portscanservice/portscanservicedev.zip
deploy_files/prod/portscanner/portscanner
deploy_files/prod/portscanner/portscanner.zip
deploy_files/prod/portscanservice/portscanservice
deploy_files/prod/portscanservice/prod.key
deploy_files/prod/portscanservice/portscanservice.zip
.vscode/*
