[Unit]
Description=This is the port scanner for prod
ConditionPathExists=/opt/scanner/
After=network.target

[Service]
Type=simple
User=portscanner
Environment=APP_ENV=prod
Group=scanner
LimitNOFILE=65000
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN

Restart=on-failure
RestartSec=30
startLimitIntervalSec=60

WorkingDirectory=/opt/scanner/


# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStart=/opt/scanner/portscanner
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=portscanner

[Install]
WantedBy=multi-user.target